/* Heading styles */
.heading {
color: white;
background: rgb(3, 3, 52);
margin: 0 0 12vh 0;
text-align: center;
font: 0.5rem;
font-display: block;
height: 70px;
width: 100%;
}

/* Start (Buttons) container styles */
.Start {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
margin: 5vh auto 10vh;
}

/* Individual button styles */
#Paper, #Rock, #Scissor {
height: 15vh;
width: 15vh;
margin: 1.5vh;
display: flex;
border-radius: 50%;
background: #EAC4D5;
border: none;
cursor: pointer;
justify-content: center;
align-items: center;
}

#Rock { background: #809BCE; }
#Scissor { background: #EEE0CB; }

.msg-Container {
height: 20vh;
width: auto;
}

/* Message button styles */
.msg1, .msg2, .msg3, .msg4 {
background: black;
color: white;
height: 8vh;
width: 80%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 1vh;
font-size: 1.5rem;
cursor: pointer;
margin: 20px auto;
text-align: center;
}

.msg2 { background: rgb(77, 77, 6); }
.msg3 { background: green; }
.msg4 { background: red; }

.hide1, .hide2, .hide3, .hide4 {
display: none;
}

/* Score display container */
.Turn {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
font-size: 2rem;
}

.Y, .C {
font-size: 3rem;
font-weight: bold;
margin: 0;
padding: 0;
}

.You, .Computer {
margin: 0;
}

.Computer {
color: black;
}

/* Reset button styles */
.reset {
height: 5vh;
width: 15vh;
font-size: 1rem;
color: white;
background: black;
border: none;
cursor: pointer;
margin: 0 auto;
display: block;
border-radius: 0.8vh;
margin-top: 3vh;
}
